<div class="container">
  <h2>User Info</h2>

  <%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <p style="color: red;"><%= @user.errors.count %>件のerrorが発生しました。</p>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
          <li style="color: red;"><%= message %></li>
          <% end %>
        </ul>
    <% end %>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <%= f.label :profile_image %><br />
    <%= attachment_image_tag @user, :profile_image, :fill, 60, 60 %>
    <label class="control-label sr-only" for="inputEmail">ProfileImage</label>
    <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>


    <div class="field">
      <%= f.label :introduction %><br />
      <%= f.text_field :introduction %>
    </div>

    <div class="actions">
      <%= f.submit "Update User" %>
    </div>
  <% end %>

</div>
